In [2]:
import pandas as pd
import json

In [3]:
json_file = json.load(open('CovidBali/dailyCases.json', 'r'))

In [9]:
range(len(json_file))

range(0, 14)

In [23]:
# w1= json_file[0]
# w1[0]['data']

In [32]:
json_file[0]
data = []

for date in json_file:
    for x in date:
        y = x['data'][0] = x['data']       
        print(x['data'][1])
    # print(date[0]['data'] + date[1]['data'])

    # for x in date:
    #     for data1 in range(len(x)):
    #         print(data1)
    # print(date[0]['data'][0])
    # for x in range(0, 14):
    #     data1 = (date[0]['data'][x] + date[1]['data'][x])
    #     data.append(data1)
data[:2]

['2', 'TABANAN', '0', '21', '2', '10', '23', '1466', '0', '0', '25', '1497', ' 05 Dec 2020']
['2', 'TABANAN', '-10', '434', '35', '1016', '0', '47', '25', '1497', ' 05 Dec 2020']
['2', 'TABANAN', '0', '21', '1', '11', '45', '1511', '0', '0', '46', '1543', '06 Dec 2020']
['2', 'TABANAN', '26', '460', '20', '1036', '0', '47', '46', '1543', '06 Dec 2020']
['2', 'TABANAN', '0', '21', '0', '11', '8', '1519', '0', '0', '8', '1551', '07 Dec 2020']
['2', 'TABANAN', '-211', '249', '219', '1255', '0', '47', '8', '1551', '07 Dec 2020']
['2', 'TABANAN', '0', '21', '0', '11', '7', '1526', '0', '0', '7', '1558', ' 08 Dec 2020']
['2', 'TABANAN', '-58', '191', '65', '1320', '0', '47', '7', '1558', ' 08 Dec 2020']
['2', 'TABANAN', '0', '21', '-2', '9', '33', '1559', '0', '0', '31', '1589', ' 09 Dec 2020']
['2', 'TABANAN', '2', '193', '26', '1346', '3', '50', '31', '1589', ' 09 Dec 2020']
['2', 'TABANAN', '0', '21', '0', '9', '19', '1578', '0', '0', '19', '1608', '10 Dec 2020']
['2', 'TABANAN', '-18', '175', '35', '1381', '2', '52', '19', '1608', '10 Dec 2020']
['2', 'TABANAN', '0', '21', '-1', '8', '22', '1600', '0', '0', '21', '1629', '11 Dec 2020']
['2', 'TABANAN', '-12', '163', '33', '1414', '0', '52', '21', '1629', '11 Dec 2020']
['2', 'TABANAN', '0', '21', '0', '8', '5', '1605', '0', '0', '5', '1634', '12 Dec 2020']
['2', 'TABANAN', '-7', '156', '11', '1425', '1', '53', '5', '1634', '12 Dec 2020']
['2', 'TABANAN', '0', '21', '0', '8', '13', '1618', '0', '0', '13', '1647', '13 Dec 2020']
['2', 'TABANAN', '-1', '155', '13', '1438', '1', '54', '13', '1647', '13 Dec 2020']
['2', 'TABANAN', '0', '21', '0', '8', '6', '1624', '0', '0', '6', '1653', ' 14 Dec 2020']
['2', 'TABANAN', '-20', '135', '26', '1464', '0', '54', '6', '1653', ' 14 Dec 2020']
['2', 'TABANAN', '0', '21', '0', '8', '10', '1634', '0', '0', '10', '1663', '15 Dec 2020']
['2', 'TABANAN', '-16', '119', '26', '1490', '0', '54', '10', '1663', '15 Dec 2020']
['2', 'TABANAN', '0', '21', '0', '8', '10', '1634', '0', '0', '10', '1663', '16 Dec 2020']
['2', 'TABANAN', '-16', '119', '26', '1490', '0', '54', '10', '1663', '16 Dec 2020']
['2', 'TABANAN', '0', '21', '0', '9', '32', '1700', '0', '0', '32', '1730', '17 Dec 2020']
['2', 'TABANAN', '4', '137', '27', '1538', '1', '55', '32', '1730', '17 Dec 2020']
['2', 'TABANAN', '0', '21', '0', '9', '20', '1720', '0', '0', '20', '1750', ' 18 Dec 2020']
['2', 'TABANAN', '7', '144', '10', '1548', '3', '58', '20', '1750', ' 18 Dec 2020']

[]

In [5]:
## Column names from https://infocorona.baliprov.go.id/API/pendataan/laporan-harian-01.php and ...-02.php

list_1 = [
    'No', 'Kabupaten / County', 'New PPLN / PMI', 'New PPLN / PMI', 'new PPDN', 'total PPDN',	'new Transmisi Lokal', 'total Transmisi Lokal',	'new Lainnya', 'total Lainnya', 'new TOTAL' ,'total TOTAL', 'Date'
]

list_2 = ['No', 'Kabupaten / County', 'New Masih Perawatan', 'total Masih Perawatan', 'New Sembuh Covid', 'Total Sembuh Covid', 'New Meninggal', 'total Meninggal', 'new Total', 'total Total', 'Date']


list_column_names = list_1 + list_2
# print(list_column_names)

In [6]:
df = pd.DataFrame(data, columns= list_column_names)
df.head()

,No,Kabupaten / County,New PPLN / PMI,New PPLN / PMI,new PPDN,total PPDN,new Transmisi Lokal,total Transmisi Lokal,new Lainnya,total Lainnya,...,Kabupaten / County,New Masih Perawatan,total Masih Perawatan,New Sembuh Covid,Total Sembuh Covid,New Meninggal,total Meninggal,new Total,total Total,Date
0,1,JEMBRANA,0,26,0,11,1,626,0,0,...,JEMBRANA,-7,70,7,579,1,14,1,663,05 Dec 2020
1,2,TABANAN,0,21,2,10,23,1466,0,0,...,TABANAN,-10,434,35,1016,0,47,25,1497,05 Dec 2020
2,3,BADUNG,0,27,0,4,18,2478,0,0,...,BADUNG,-9,159,27,2299,0,51,18,2509,05 Dec 2020
3,4,DENPASAR,0,48,-1,22,28,3891,0,0,...,DENPASAR,1,166,26,3705,0,90,27,3961,05 Dec 2020
4,5,GIANYAR,0,29,-1,10,16,1951,0,0,...,GIANYAR,-16,234,31,1681,0,75,15,1990,05 Dec 2020

In [ ]:
## adding 7 day rolling average (cases and deaths)
# cases per 100k
df_ref = pd.read_excel('Bali_reference_data.xlsx')

df['cases_per_100k'] =
df['deaths_per_100k'] = 


df['cases7_per_100k'] = df['cases_per_100k'].rolling(window= 7, center=False).mean()

In [7]:
df.to_csv('dailyCasesTest.csv')

In [ ]:
# adjust Names of Regency to those of GeoJson

# add feature.id from geojson

# same cases_per_100k, cases7_per_100k, mortality (see indo_time_series as blueprint)