In [3]:
import pandas as pd
import json

In [ ]:

### 1. COVID DATA BALI REGENCIES
###  -------------------------------------

## From scrapy spider

In [4]:
json_file = json.load(open(r'C:\Users\ansve\Coding\Projects-WebScraping\CovidBali\CovidBali\CovidBali\dailyCases.json', 'r'))

In [5]:
range(len(json_file))

range(0, 22)

In [6]:
# w1= json_file[0]
# w1[0]['data']

In [7]:
json_file[0]
data = []

for date in json_file:
    for x in range(0, 10):
        data1 = (date[0]['data'][x] + date[1]['data'][x])
        data.append(data1)
data[:2]

[['1',
  'JEMBRANA',
  '0',
  '26',
  '0',
  '11',
  '1',
  '626',
  '0',
  '0',
  '1',
  '663',
  ' 05 Dec 2020',
  '1',
  'JEMBRANA',
  '-7',
  '70',
  '7',
  '579',
  '1',
  '14',
  '1',
  '663',
  ' 05 Dec 2020'],
 ['2',
  'TABANAN',
  '0',
  '21',
  '2',
  '10',
  '23',
  '1466',
  '0',
  '0',
  '25',
  '1497',
  ' 05 Dec 2020',
  '2',
  'TABANAN',
  '-10',
  '434',
  '35',
  '1016',
  '0',
  '47',
  '25',
  '1497',
  ' 05 Dec 2020']]

In [8]:
## Column names from https://infocorona.baliprov.go.id/API/pendataan/laporan-harian-01.php and ...-02.php

list_1 = [
    'No', 'Kabupaten / County', 'New PPLN / PMI', 'New PPLN / PMI', 'new PPDN', 'total PPDN',	'new_local_transmission', 'total_local_transmission',	'new_other_transmission', 'total_other_transmission', 'new_cases' ,'total_cases', 'date'
]

list_2 = ['No', 'Kabupaten / County', 'new_treatment', 'total_treatment', 'new_recovered', 'total_recovered', 'new_deaths', 'total_deaths', 'new_cases', 'total_cases', 'date']

list_column_names = list_1 + list_2
# print(list_column_names)

In [9]:
df = pd.DataFrame(data, columns= list_column_names)
df.head()

,No,Kabupaten / County,New PPLN / PMI,New PPLN / PMI,new PPDN,total PPDN,new_local_transmission,total_local_transmission,new_other_transmission,total_other_transmission,...,Kabupaten / County,new_treatment,total_treatment,new_recovered,total_recovered,new_deaths,total_deaths,new_cases,total_cases,date
0,1,JEMBRANA,0,26,0,11,1,626,0,0,...,JEMBRANA,-7,70,7,579,1,14,1,663,05 Dec 2020
1,2,TABANAN,0,21,2,10,23,1466,0,0,...,TABANAN,-10,434,35,1016,0,47,25,1497,05 Dec 2020
2,3,BADUNG,0,27,0,4,18,2478,0,0,...,BADUNG,-9,159,27,2299,0,51,18,2509,05 Dec 2020
3,4,DENPASAR,0,48,-1,22,28,3891,0,0,...,DENPASAR,1,166,26,3705,0,90,27,3961,05 Dec 2020
4,5,GIANYAR,0,29,-1,10,16,1951,0,0,...,GIANYAR,-16,234,31,1681,0,75,15,1990,05 Dec 2020

In [10]:
# # Check dataframe
# df.columns
# df.describe()
# df.dtypes

In [11]:
# delete duplicate columns and convert dtypes
df = df.loc[:,~df.columns.duplicated()]

df['No'] = df['No'].astype(int)
df['Name_EN'] = df['Kabupaten / County'].astype(str)
df['Name_EN'] = df['Name_EN'].str.casefold()
# df.dtypes

In [12]:
from dateutil.parser import parse

df['date'] = df['date'].apply(lambda x: parse(x))
df.date[1]

Timestamp('2020-12-05 00:00:00')

In [13]:
# data cleaning, processing
#------------------------

# add addtitional data
df_ref = pd.read_excel('Bali_reference_data.xlsx')
df_ref = df_ref.drop(columns=['https://en.wikipedia.org/wiki/Bali#cite_note-BPS2019-2', 'https://sp2010.bps.go.id/index.php/site/tabel?tid=321&wid=0', 'Source'])
df_ref['Name_EN'] = df_ref['Name_Indo'].str.casefold()
df_ref.replace('kota denpasar', 'denpasar', inplace=True)
df_ref.replace('totals', 'bali', inplace=True)
df_ref.replace('Totals', 'Bali', inplace=True)

df_ref.head(15)

,Name_Indo,Name_EN,Capital,area_km2,population_2000,population_2010,population_2015,HDI_2014_estimate,Gouvernor,Nr. of Sub-Districts,Nr of Keluruhan/Villages
0,Bali,bali,NaN,"5,780.06","3,146,999","3,890,757","4,148,588",0.724 (High),NaN,NaN,NaN
1,Buleleng,buleleng,Singaraja,"1,364.73",558.181,624.125,645.893,0.691 (Medium),Putu Agus Suradnyana,9.0,19/129
2,Jembrana,jembrana,Negara,841.80,231.806,261.638,271.423,0.686 (Medium),I Putu Artha,5.0,10/41
3,Karangasem,karangasem,Amlapura,839.54,360.486,396.487,408.487,0.640 (Medium),I Gusti Ayu Mas Sumatri,8.0,3/75
4,Tabanan,tabanan,Tabanan,839.30,376.03,420.913,435.753,0.726 (High),Ni Putu Eka Wiryastuti,10.0,-/133
5,Bangli,bangli,Bangli,490.71,193.776,215.353,222.474,0.657 (Medium),I Made Gianyar,4.0,4/68
6,Badung,badung,Mangupura,418.52,345.863,543.332,615.148,0.779 (High),I Nyoman Giri Prasta,6.0,16/46
7,Gianyar,gianyar,Gianyar,368.00,393.155,469.777,494.729,0.742 (High),I Made Agus Mahayastra,7.0,6/64
8,Klungkung,klungkung,Semarapura,315.00,155.262,170.543,175.573,0.683 (Medium),I Nyoman Suwirta,4.0,6/53
9,Kota Denpasar,denpasar,Denpasar,127.78,532.44,788.589,879.098,0.816 (Very High),Ida Bagus Rai Dharmawijaya Mantra,4.0,16/27

In [14]:
# merge both df on 'Name_EN'
df_merged = df.merge(df_ref, on="Name_EN", how='left')

int_numbers = ['total_recovered','new_deaths','total_deaths','new_total','total_cases']

df_merged[['total_recovered','new_deaths','total_deaths','new_total','total_cases']] = df_merged[['total_recovered','new_deaths','total_deaths','new_cases','total_cases']].apply(pd.to_numeric)

## per 100k populaiton

df_merged['cases_per_100k'] = df_merged['total_cases'] / df_merged['population_2015'] * 100000
df_merged['deaths_per_100k'] = df_merged['total_deaths'] / df_merged['population_2015'] * 100000

df_merged['cases7'] = df_merged['new_cases'].rolling(window=7, center=False).mean()
df_merged['cases7_per_100k'] = df_merged['cases7'] / df_merged['population_2015']
df_merged['total_cases_per_100k'] = df_merged['total_cases'] / df_merged['population_2015']

df_merged['deaths7'] = df_merged['new_deaths'].rolling(window=7, center=False).mean()
df_merged['deaths7_per_100k'] = df_merged['deaths_per_100k'].rolling(window=7, center=False).mean()

In [15]:
## drop temporary unnecessary columns
drop_columns = ['New PPLN / PMI', 'new PPDN', 'total PPDN',
       'new_local_transmission', 'total_local_transmission',
       'new_other_transmission', 'total_other_transmission', 'Name_Indo', 'Capital', 'population_2000',
       'population_2010', 'HDI_2014_estimate', 'Gouvernor',
       'Nr. of Sub-Districts', 'Nr of Keluruhan/Villages', 'area_km2' ]
df_clean = df_merged.drop(columns=drop_columns)

In [16]:
## check NaN in df 
# nan_rows = df_clean[df_clean['population_2015'].isnull()]
# nan_rows

In [17]:
# infection fatality ratio (IFR), which estimates this proportion of deaths among all infected individuals. The second is case fatality ratio (CFR), which estimates this proportion of deaths among identified confirmed cases. 
# see https://www.who.int/news-room/commentaries/detail/estimating-mortality-from-covid-19

df_merged['CFR'] = df_merged['total_deaths'] / df_merged['total_cases'] * 100
df_merged['CFR']

0      2.111614
1      3.139613
2      2.032682
3      2.272153
4      3.768844
         ...
215    4.046858
216    2.254098
217    4.834123
218    4.860088
219    2.040816
Name: CFR, Length: 220, dtype: float64

In [43]:
df_merged.to_csv('bali_regency_data.csv')

In [19]:

### 1. INDONESIA COVID DATA 
###  -------------------------------------

## From Kaggel Dataset

In [20]:
# 1. connect to kaggle
# 2. adjust column names

In [37]:
df_indo = pd.read_csv(r'C:\Users\ansve\Coding\Projects-WebScraping\CovidBali\testingDash\plotly apps-dash-oil-and-gas\data\data_process\covid_19_indonesia_time_series_all.csv')

df_indo.head()

,Date,Location ISO Code,Location,New Cases,New Deaths,New Recovered,New Active Cases,Total Cases,Total Deaths,Total Recovered,...,Longitude,Latitude,New Cases per Million,Total Cases per Million,New Deaths per Million,Total Deaths per Million,Case Fatality Rate,Case Recovered Rate,Growth Factor of New Cases,Growth Factor of New Deaths
0,3/1/2020,ID-JK,DKI Jakarta,2,0,0,2,489,20,73,...,106.836118,-6.204699,0.18,45.09,0.0,1.84,4.09%,14.93%,NaN,NaN
1,3/2/2020,ID-JK,DKI Jakarta,2,0,0,2,491,20,73,...,106.836118,-6.204699,0.18,45.27,0.0,1.84,4.07%,14.87%,1.0,1.0
2,3/2/2020,IDN,Indonesia,2,0,0,2,2,0,0,...,113.921327,-0.789275,0.01,0.01,0.0,0.00,0.00%,0.00%,NaN,NaN
3,3/2/2020,ID-JB,Jawa Barat,3,0,0,3,12,5,14,...,107.603708,-6.920432,0.07,0.27,0.0,0.11,41.67%,116.67%,NaN,NaN
4,3/2/2020,ID-RI,Riau,1,0,0,1,2,1,2,...,101.805109,0.511648,0.16,0.33,0.0,0.16,50.00%,100.00%,NaN,NaN

In [38]:
# df_indo.dtypes

In [39]:
print(list(df_merged.columns))

['No', 'Kabupaten / County', 'New PPLN / PMI', 'new PPDN', 'total PPDN', 'new_local_transmission', 'total_local_transmission', 'new_other_transmission', 'total_other_transmission', 'new_cases', 'total_cases', 'date', 'new_treatment', 'total_treatment', 'new_recovered', 'total_recovered', 'new_deaths', 'total_deaths', 'Name_EN', 'Name_Indo', 'Capital', 'area_km2', 'population_2000', 'population_2010', 'population_2015', 'HDI_2014_estimate', 'Gouvernor', 'Nr. of Sub-Districts', 'Nr of Keluruhan/Villages', 'new_total', 'cases_per_100k', 'deaths_per_100k', 'cases7', 'cases7_per_100k', 'total_cases_per_100k', 'deaths7', 'deaths7_per_100k', 'CFR']

In [41]:
# adjust column names
columns_new = ['Date', 'Location ISO Code', 'Location', 'new_cases', 'new_deaths',
       'new_recovered', 'New Active Cases', 'total_cases', 'total_deaths',
       'total_recovered', 'Total Active Cases', 'Location Level',
       'City or Regency', 'Province', 'Country', 'Continent', 'Island',
       'Time Zone', 'Special Status', 'Total Regencies', 'Total Cities',
       'Total Districts', 'Total Urban Villages', 'Total Rural Villages',
       'Area (km2)', 'Population', 'Population Density', 'Longitude',
       'Latitude', 'New Cases per Million', 'Total Cases per Million',
       'New Deaths per Million', 'Total Deaths per Million',
       'CFR', 'Case Recovered Rate',
       'Growth Factor of New Cases', 'Growth Factor of New Deaths']

df_indo.columns = columns_new
df_indo.columns

Index(['Date', 'Location ISO Code', 'Location', 'new_cases', 'new_deaths',
       'new_recovered', 'New Active Cases', 'total_cases', 'total_deaths',
       'total_recovered', 'Total Active Cases', 'Location Level',
       'City or Regency', 'Province', 'Country', 'Continent', 'Island',
       'Time Zone', 'Special Status', 'Total Regencies', 'Total Cities',
       'Total Districts', 'Total Urban Villages', 'Total Rural Villages',
       'Area (km2)', 'Population', 'Population Density', 'Longitude',
       'Latitude', 'New Cases per Million', 'Total Cases per Million',
       'New Deaths per Million', 'Total Deaths per Million', 'CFR',
       'Case Recovered Rate', 'Growth Factor of New Cases',
       'Growth Factor of New Deaths'],
      dtype='object')

In [42]:

# add columns so consistent with Bali_regency data

df_indo['Name_EN'] = df_indo['Location'].str.casefold()
df_indo['new_cases_per_100k'] = df_indo['New Cases per Million'] / 100
df_indo['new_deaths_per_100k'] = df_indo['New Deaths per Million'] / 100

df_indo['total_cases_per_100k'] = df_indo['Total Cases per Million'] / 100
df_indo['total_deaths_per_100k'] = df_indo['Total Deaths per Million'] / 100
df_indo.columns

Index(['Date', 'Location ISO Code', 'Location', 'new_cases', 'new_deaths',
       'new_recovered', 'New Active Cases', 'total_cases', 'total_deaths',
       'total_recovered', 'Total Active Cases', 'Location Level',
       'City or Regency', 'Province', 'Country', 'Continent', 'Island',
       'Time Zone', 'Special Status', 'Total Regencies', 'Total Cities',
       'Total Districts', 'Total Urban Villages', 'Total Rural Villages',
       'Area (km2)', 'Population', 'Population Density', 'Longitude',
       'Latitude', 'New Cases per Million', 'Total Cases per Million',
       'New Deaths per Million', 'Total Deaths per Million', 'CFR',
       'Case Recovered Rate', 'Growth Factor of New Cases',
       'Growth Factor of New Deaths', 'Name_EN', 'new_cases_per_100k',
       'new_deaths_per_100k', 'total_cases_per_100k', 'total_deaths_per_100k'],
      dtype='object')

In [44]:
df_indo.to_csv('indo_province_data.csv')

In [ ]:
## add id from feature.id of geojson file


## 1. Prepare Geojson

path_geojson = ''

bali_geojson = json.load(open(path_geojson, 'r'))

## 2. add feature.id to geojson file
path = ''

new_geojson = open(path + '/bali_geojson_id.geojson', 'w')
count = 0

with open(path_geojson, 'r') as myfile:
  for line in myfile:

    if not line.startswith('{ "type": '):
      new_geojson.write(line)
    else:
      count +=1
      idNr = str(count)
      new_geojson.write(line[0:20] + '"id":'+ '"'+ idNr + '",' +line[21:])

new_geojson.close()
# open new geojson (with id) file
bali_geo_id = json.load(open(path + '/bali_geojson_id.geojson', 'r'))

## 3. get names of regencies
regencies = []
for regency in bali_geo_id['features']:
  regencies.append(regency['properties']['ADM2_EN'])

  # add id column in df with feature.id from geojson
bali_id_map = {}
for regency in bali_geo_id['features']:
  bali_id_map[regency['properties']['ADM2_EN']] = regency['id']
bali_id_map

## for Foreigners or Other Regency add 'id' = 0
df_clean['id'] = df_clean['Regency'].apply(lambda x: bali_id_map[x] if x in bali_id_map else 0)
df_clean