In [47]:
import pandas as pd
import json

In [48]:
json_file = json.load(open(r'C:\Users\ansve\Coding\Projects-WebScraping\CovidBali\CovidBali\CovidBali\dailyCases.json', 'r'))

In [49]:
range(len(json_file))

range(0, 18)

In [50]:
# w1= json_file[0]
# w1[0]['data']

In [51]:
json_file[0]
data = []

for date in json_file:
    for x in range(0, 10):
        data1 = (date[0]['data'][x] + date[1]['data'][x])
        data.append(data1)
data[:2]

[['1',
  'JEMBRANA',
  '0',
  '26',
  '0',
  '11',
  '1',
  '626',
  '0',
  '0',
  '1',
  '663',
  ' 05 Dec 2020',
  '1',
  'JEMBRANA',
  '-7',
  '70',
  '7',
  '579',
  '1',
  '14',
  '1',
  '663',
  ' 05 Dec 2020'],
 ['2',
  'TABANAN',
  '0',
  '21',
  '2',
  '10',
  '23',
  '1466',
  '0',
  '0',
  '25',
  '1497',
  ' 05 Dec 2020',
  '2',
  'TABANAN',
  '-10',
  '434',
  '35',
  '1016',
  '0',
  '47',
  '25',
  '1497',
  ' 05 Dec 2020']]

In [52]:
## Column names from https://infocorona.baliprov.go.id/API/pendataan/laporan-harian-01.php and ...-02.php

list_1 = [
    'No', 'Kabupaten / County', 'New PPLN / PMI', 'New PPLN / PMI', 'new PPDN', 'total PPDN',	'new Transmisi Lokal', 'total Transmisi Lokal',	'new Lainnya', 'total Lainnya', 'new TOTAL' ,'total TOTAL', 'Date'
]

list_2 = ['No', 'Kabupaten / County', 'New Masih Perawatan', 'total Masih Perawatan', 'New Sembuh Covid', 'Total Sembuh Covid', 'New Meninggal', 'total Meninggal', 'new Total', 'total Total', 'Date']


list_column_names = list_1 + list_2
# print(list_column_names)

In [53]:
df = pd.DataFrame(data, columns= list_column_names)
df.head()

,No,Kabupaten / County,New PPLN / PMI,New PPLN / PMI,new PPDN,total PPDN,new Transmisi Lokal,total Transmisi Lokal,new Lainnya,total Lainnya,...,Kabupaten / County,New Masih Perawatan,total Masih Perawatan,New Sembuh Covid,Total Sembuh Covid,New Meninggal,total Meninggal,new Total,total Total,Date
0,1,JEMBRANA,0,26,0,11,1,626,0,0,...,JEMBRANA,-7,70,7,579,1,14,1,663,05 Dec 2020
1,2,TABANAN,0,21,2,10,23,1466,0,0,...,TABANAN,-10,434,35,1016,0,47,25,1497,05 Dec 2020
2,3,BADUNG,0,27,0,4,18,2478,0,0,...,BADUNG,-9,159,27,2299,0,51,18,2509,05 Dec 2020
3,4,DENPASAR,0,48,-1,22,28,3891,0,0,...,DENPASAR,1,166,26,3705,0,90,27,3961,05 Dec 2020
4,5,GIANYAR,0,29,-1,10,16,1951,0,0,...,GIANYAR,-16,234,31,1681,0,75,15,1990,05 Dec 2020

In [54]:
# # Check dataframe
# df.columns
# df.describe()
# df.dtypes

In [55]:
# delete duplicate columns and convert dtypes
df = df.loc[:,~df.columns.duplicated()]

df['No'] = df['No'].astype(int)
df['Name_EN.'] = df['Kabupaten / County'].astype(str)
df['Name_EN.'] = df['Name_EN.'].str.casefold()
# df.dtypes

In [56]:
from dateutil.parser import parse

df['date'] = df['Date'].apply(lambda x: parse(x))
df.date[1]

Timestamp('2020-12-05 00:00:00')

In [57]:
# first dataframe cleaning
#------------------------

In [ ]:
## adding 7 day rolling average (cases and deaths)
# cases per 100k
df_ref = pd.read_excel('Bali_reference_data.xlsx')

df['cases_per_100k'] =
df['deaths_per_100k'] = 


df['cases7_per_100k'] = df['cases_per_100k'].rolling(window= 7, center=False).mean()

In [7]:
df.to_csv('dailyCasesTest.csv')

In [ ]:
# adjust Names of Regency to those of GeoJson

# add feature.id from geojson

# same cases_per_100k, cases7_per_100k, mortality (see indo_time_series as blueprint)