In [1]:
import pandas as pd
import json

In [2]:
json_file = json.load(open(r'C:\Users\ansve\Coding\Projects-WebScraping\CovidBali\CovidBali\CovidBali\dailyCases.json', 'r'))

In [3]:
range(len(json_file))

range(0, 18)

In [4]:
# w1= json_file[0]
# w1[0]['data']

In [5]:
json_file[0]
data = []

for date in json_file:
    for x in range(0, 10):
        data1 = (date[0]['data'][x] + date[1]['data'][x])
        data.append(data1)
data[:2]

[['1',
  'JEMBRANA',
  '0',
  '26',
  '0',
  '11',
  '1',
  '626',
  '0',
  '0',
  '1',
  '663',
  ' 05 Dec 2020',
  '1',
  'JEMBRANA',
  '-7',
  '70',
  '7',
  '579',
  '1',
  '14',
  '1',
  '663',
  ' 05 Dec 2020'],
 ['2',
  'TABANAN',
  '0',
  '21',
  '2',
  '10',
  '23',
  '1466',
  '0',
  '0',
  '25',
  '1497',
  ' 05 Dec 2020',
  '2',
  'TABANAN',
  '-10',
  '434',
  '35',
  '1016',
  '0',
  '47',
  '25',
  '1497',
  ' 05 Dec 2020']]

In [6]:
## Column names from https://infocorona.baliprov.go.id/API/pendataan/laporan-harian-01.php and ...-02.php

list_1 = [
    'No', 'Kabupaten / County', 'New PPLN / PMI', 'New PPLN / PMI', 'new PPDN', 'total PPDN',	'new Transmisi Lokal', 'total Transmisi Lokal',	'new Lainnya', 'total Lainnya', 'new TOTAL' ,'total TOTAL', 'Date'
]

list_2 = ['No', 'Kabupaten / County', 'New Masih Perawatan', 'total Masih Perawatan', 'New Sembuh Covid', 'Total Sembuh Covid', 'New Meninggal', 'total Meninggal', 'new Total', 'total Total', 'Date']


list_column_names = list_1 + list_2
# print(list_column_names)

In [9]:
df = pd.DataFrame(data, columns= list_column_names)
df.head(15)

,No,Kabupaten / County,New PPLN / PMI,New PPLN / PMI,new PPDN,total PPDN,new Transmisi Lokal,total Transmisi Lokal,new Lainnya,total Lainnya,...,Kabupaten / County,New Masih Perawatan,total Masih Perawatan,New Sembuh Covid,Total Sembuh Covid,New Meninggal,total Meninggal,new Total,total Total,Date
0,1,JEMBRANA,0,26,0,11,1,626,0,0,...,JEMBRANA,-7,70,7,579,1,14,1,663,05 Dec 2020
1,2,TABANAN,0,21,2,10,23,1466,0,0,...,TABANAN,-10,434,35,1016,0,47,25,1497,05 Dec 2020
2,3,BADUNG,0,27,0,4,18,2478,0,0,...,BADUNG,-9,159,27,2299,0,51,18,2509,05 Dec 2020
3,4,DENPASAR,0,48,-1,22,28,3891,0,0,...,DENPASAR,1,166,26,3705,0,90,27,3961,05 Dec 2020
4,5,GIANYAR,0,29,-1,10,16,1951,0,0,...,GIANYAR,-16,234,31,1681,0,75,15,1990,05 Dec 2020
5,6,BANGLI,0,58,0,3,0,824,0,0,...,BANGLI,-1,8,1,842,0,35,0,885,05 Dec 2020
6,7,KLUNGKUNG,0,19,0,0,0,928,0,0,...,KLUNGKUNG,0,9,0,918,0,20,0,947,05 Dec 2020
7,8,KARANGASEM,0,23,0,0,0,1006,0,0,...,KARANGASEM,-3,14,3,964,0,51,0,1029,05 Dec 2020
8,9,BULELENG,0,41,0,6,5,1172,0,0,...,BULELENG,1,59,4,1101,0,59,5,1219,05 Dec 2020
9,10,KABUPATEN LAINNYA,0,5,0,31,0,13,0,0,...,KABUPATEN LAINNYA,-1,4,1,44,0,1,0,49,05 Dec 2020
10,1,JEMBRANA,0,26,0,11,0,626,0,0,...,JEMBRANA,-9,61,9,588,0,14,0,663,06 Dec 2020
11,2,TABANAN,0,21,1,11,45,1511,0,0,...,TABANAN,26,460,20,1036,0,47,46,1543,06 Dec 2020
12,3,BADUNG,0,27,0,4,24,2502,0,0,...,BADUNG,9,168,15,2314,0,51,24,2533,06 Dec 2020
13,4,DENPASAR,0,48,0,22,18,3909,0,0,...,DENPASAR,1,167,17,3722,0,90,18,3979,06 Dec 2020
14,5,GIANYAR,0,29,0,10,8,1959,0,0,...,GIANYAR,-4,230,12,1693,0,75,8,1998,06 Dec 2020

In [8]:
# # Check dataframe
# df.columns
# df.describe()
# df.dtypes

In [10]:
# delete duplicate columns and convert dtypes
df = df.loc[:,~df.columns.duplicated()]

df['No'] = df['No'].astype(int)
df['Name_EN'] = df['Kabupaten / County'].astype(str)
df['Name_EN'] = df['Name_EN'].str.casefold()
# df.dtypes

In [11]:
from dateutil.parser import parse

df['date'] = df['Date'].apply(lambda x: parse(x))
df.date[1]

Timestamp('2020-12-05 00:00:00')

In [28]:
# data cleaning, processing
#------------------------

# add addtitional data
df_ref = pd.read_excel('Bali_reference_data.xlsx')
df_ref = df_ref.drop(columns=['https://en.wikipedia.org/wiki/Bali#cite_note-BPS2019-2', 'https://sp2010.bps.go.id/index.php/site/tabel?tid=321&wid=0', 'Source'])
df_ref['Name_EN'] = df_ref['Name_Indo'].str.casefold()
df_ref.replace('kota denpasar', 'denpasar', inplace=True)

df_ref.head(15)

,Name_Indo,Name_EN,Capital,area_km2,population_2000,population_2010,population_2015,HDI_2014_estimate,Gouvernor,Nr. of Sub-Districts,Nr of Keluruhan/Villages
0,Totals,totals,NaN,"5,780.06","3,146,999","3,890,757","4,148,588",0.724 (High),NaN,NaN,NaN
1,Buleleng,buleleng,Singaraja,"1,364.73",558.181,624.125,645.893,0.691 (Medium),Putu Agus Suradnyana,9.0,19/129
2,Jembrana,jembrana,Negara,841.80,231.806,261.638,271.423,0.686 (Medium),I Putu Artha,5.0,10/41
3,Karangasem,karangasem,Amlapura,839.54,360.486,396.487,408.487,0.640 (Medium),I Gusti Ayu Mas Sumatri,8.0,3/75
4,Tabanan,tabanan,Tabanan,839.30,376.03,420.913,435.753,0.726 (High),Ni Putu Eka Wiryastuti,10.0,-/133
5,Bangli,bangli,Bangli,490.71,193.776,215.353,222.474,0.657 (Medium),I Made Gianyar,4.0,4/68
6,Badung,badung,Mangupura,418.52,345.863,543.332,615.148,0.779 (High),I Nyoman Giri Prasta,6.0,16/46
7,Gianyar,gianyar,Gianyar,368.00,393.155,469.777,494.729,0.742 (High),I Made Agus Mahayastra,7.0,6/64
8,Klungkung,klungkung,Semarapura,315.00,155.262,170.543,175.573,0.683 (Medium),I Nyoman Suwirta,4.0,6/53
9,Kota Denpasar,denpasar,Denpasar,127.78,532.44,788.589,879.098,0.816 (Very High),Ida Bagus Rai Dharmawijaya Mantra,4.0,16/27

In [29]:
# merge both df on 'Name_EN'
df_merged = df.merge(df_ref, on="Name_EN", how='left')


df_merged.tail()

,No,Kabupaten / County,New PPLN / PMI,new PPDN,total PPDN,new Transmisi Lokal,total Transmisi Lokal,new Lainnya,total Lainnya,new TOTAL,...,Name_Indo,Capital,area_km2,population_2000,population_2010,population_2015,HDI_2014_estimate,Gouvernor,Nr. of Sub-Districts,Nr of Keluruhan/Villages
175,6,BANGLI,0,0,4,6,867,0,0,6,...,Bangli,Bangli,490.71,193.776,215.353,222.474,0.657 (Medium),I Made Gianyar,4.0,4/68
176,7,KLUNGKUNG,0,0,2,1,953,0,0,1,...,Klungkung,Semarapura,315.00,155.262,170.543,175.573,0.683 (Medium),I Nyoman Suwirta,4.0,6/53
177,8,KARANGASEM,0,0,0,2,1026,0,0,2,...,Karangasem,Amlapura,839.54,360.486,396.487,408.487,0.640 (Medium),I Gusti Ayu Mas Sumatri,8.0,3/75
178,9,BULELENG,0,1,11,14,1283,0,0,15,...,Buleleng,Singaraja,"1,364.73",558.181,624.125,645.893,0.691 (Medium),Putu Agus Suradnyana,9.0,19/129
179,10,KABUPATEN LAINNYA,0,0,31,0,13,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
## adding 7 day rolling average (cases and deaths)
# cases per 100k
)

df['cases_per_100k'] =
df['deaths_per_100k'] = 


df['cases7_per_100k'] = df['cases_per_100k'].rolling(window= 7, center=False).mean()

In [7]:
df.to_csv('dailyCasesTest.csv')

In [ ]:
# adjust Names of Regency to those of GeoJson

# add feature.id from geojson

# same cases_per_100k, cases7_per_100k, mortality (see indo_time_series as blueprint)